<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>Sesiones</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of sesiones;let i = index">
    <ion-item-sliding>
      <ion-item>
        <ng-container [ngSwitch]="true">
          <ion-icon class="diaSem" *ngSwitchCase="item.dia == 'Domingo'" color="medium" name="ellipse" slot="start"></ion-icon>
          <ion-icon class="diaSem" *ngSwitchCase="item.dia == 'Lunes'" color="warning" name="ellipse" slot="start"></ion-icon>
          <ion-icon class="diaSem" *ngSwitchCase="item.dia == 'Martes'" color="danger" name="ellipse" slot="start"></ion-icon>
          <ion-icon class="diaSem" *ngSwitchCase="item.dia == 'Miercoles'" color="light" name="ellipse" slot="start"></ion-icon>
          <ion-icon class="diaSem" *ngSwitchCase="item.dia == 'Jueves'" color="success" name="ellipse" slot="start"></ion-icon>
          <ion-icon class="diaSem" *ngSwitchCase="item.dia == 'Viernes'" color="primary" name="ellipse" slot="start"></ion-icon>
          <ion-icon class="diaSem" *ngSwitchCase="item.dia == 'Sabado'" color="tertiary" name="ellipse" slot="start"></ion-icon>
        </ng-container>
        <ion-label>
          <h2 class="date">{{item.date}}</h2>
          <p class="dia">{{item.dia}}</p>
        </ion-label>
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-item>
      <ion-item-options side="end" >
        <ion-item-option color="tertiary" expandable [routerLink]="[ '/sesion', item.date]">
          <ion-icon class="size-icon" name="help-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable (click)="presentAlertDelete('Eliminar', '¿Deseas eliminar la sesion?', item.date)">
          <ion-icon class="size-icon" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
</ion-content>
