<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button slot="start" (click)="closeWork()">
        <ion-icon class="size-icon" name="close-outline"></ion-icon>
      </ion-button>
      <ion-title>Sesion de {{diaSem}}</ion-title>
      <ion-button slot="end" [routerLink]="['/sesiones/']">
        <ion-icon class="size-icon" name="albums-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let ejercicio of ejercicios;let i = index">
    <ion-item>
      <ion-label>{{ejercicio.nombre}}</ion-label>
      <ion-icon slot="end" name="image-outline" (click)="presentAlert(ejercicio.nombre, ejercicio.img)"></ion-icon>
    </ion-item>
    
    <ion-card-content class="contentCard">
      <ion-item class="left">
        <ion-input placeholder="Peso" [(ngModel)]="ejercicio.inputPeso" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Repeticiones" [(ngModel)]="ejercicio.inputRepes"></ion-input>
      </ion-item>
    </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="tertiary"  (click)="trainingCompleted()">
        <ion-icon name="cloud-done-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  
</ion-content>
