<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>perfil</ion-title>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="readOnly">
      <ion-button (click)="editPerfil()">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="avatar" >
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <ion-item>
    <ion-icon slot="start" name="person-outline"></ion-icon>
    <ion-label class="ion-text-wrap">
      <p>Nombre</p>
      <ion-text>
        <h2 *ngIf="readOnly">{{nombre}}</h2>
        <ion-input *ngIf="!readOnly" placeholder="Escribe tu nombre" [(ngModel)]="nombre"></ion-input>
      </ion-text>
      <p>Este es el nombre con el que se guardaran las sesiones de entrenamiento</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="ribbon-outline"></ion-icon>
    <ion-label class="ion-text-wrap">
      <p>Objetivo</p>
      <ion-text>
        <h2 *ngIf="readOnly">{{objetivo}}</h2>
        <ion-input *ngIf="!readOnly" placeholder="Escribe tu objetivo" [(ngModel)]="objetivo"></ion-input>
      </ion-text>
      <p>Objetivo a largo plazo</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="pizza-outline"></ion-icon>
    <ion-label class="ion-text-wrap">
      <p>Peso</p>
      <ion-text>
        <h2 *ngIf="readOnly">{{peso}}KG</h2>
        <ion-input *ngIf="!readOnly" placeholder="Escribe tu peso" [(ngModel)]="peso"></ion-input>
      </ion-text>
      <p>Peso actual</p>
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!readOnly">
    <ion-fab-button color="tertiary" (click)="savePerfil()">
      <ion-icon name="checkmark-done-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
