<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>RUTINA</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>

