<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>SESION</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of session">
      <ion-item-sliding>
        <ion-item>
          <img class="iconoEjercicio" src="" slot="start">
          <ion-label>
            <h2>{{item.ejercicio}}</h2>
            <p>{{item.peso}}Kg: {{item.repes}}</p>
          </ion-label>
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-item>
        <ion-item-options side="end" >
          <ion-item-option color="tertiary" expandable [routerLink]="[ '/work', idDay]">
            <ion-icon class="size-icon" name="help-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
</ion-content>
