<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>{{diaSem}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-item class="ion-text-wrap">
    <ion-label>Objetivo:</ion-label>
    <ion-label slot="end" class="objetivo">
      <p>{{objetivo}}</p>
    </ion-label>
  </ion-item>

  <h3 class="detalles">LISTA DE EJERCICIOS</h3>
  <ion-item-divider></ion-item-divider>

  <ion-card *ngFor="let item of rutina">
    <ion-item-sliding>
      <ion-item>
        <img class="iconoEjercicio" src="{{item.img}}" slot="start">
        <ion-label>
          <h2>{{item.ejercicio}}</h2>
          <p>{{item.repes}}</p>
        </ion-label>
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-item>
      <ion-item-options side="end" >
        <ion-item-option color="tertiary" expandable [routerLink]="[ '/work', idDay]">
          <ion-icon class="size-icon" name="help-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" [routerLink]="[ '/work', idDay]">
      <ion-icon name="barbell-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

