.columna{
    text-align: center;
    width: 100%;
}

.entrenar{
    margin: auto;
}

.size-icon {
    font-size: 20px;
}

.help{
    font-size: 25px;
}

.detalles{
    text-align: center;
    margin-bottom: -5%;
}

.iconoEjercicio{
    width: 16%;
}

.objetivo{
    text-align: right;
}
