<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Routine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <h1 class="programa">Programa de entrenamiento de {{nombre}}</h1>
    <p class="programa">{{sesiones}} sesiones por semana</p>
  </ion-label>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="../../assets/icon/lunes.png" [routerLink]="['/routine-day/0']">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/icon/martes.png" [routerLink]="['/routine-day/1']">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/icon/jueves.png" [routerLink]="['/routine-day/2']">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/icon/viernes.png" [routerLink]="['/routine-day/3']">
      </ion-slide>
    </ion-slides>

    <ion-item-divider></ion-item-divider>

    <ion-list>
      <ion-item [routerLink]="['/sesiones/']">
        <ion-label>Dias registrados</ion-label>
        <ion-badge color="tertiary">{{sesionesGuardadas}}</ion-badge>
      </ion-item>
      <ion-item [routerLink]="['/rutina/']">
        <ion-label>Ver rutina</ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item [routerLink]="['/perfil/']">
        <ion-label>Mi Perfil</ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
