#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.programa{
  margin: 3%;
}

ion-slides {
  height: 35%;
}

img{
  width: 60%;
  margin: auto;
  margin-top: 0;
}

ion-list{
  background: transparent;
}

ion-item{
  height: 40%;
  margin: 3%;
}